.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

#videos {
    width: 100%;
    text-align: center;
    background-color: aliceblue;
    overflow: hidden;
    height: 800px;
}

#wiki {
    width: 100%;
    text-align: center;
    background-color: aqua;
    overflow: hidden;
    height: 800px;
}

#news {
    width: 100%;
    text-align: center;
    background-color: coral;
    overflow: hidden;
    height: 800px;
}

body {
    text-align: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(red 100%, violet 0%);
}
